<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>UrlImg</title>
	<meta name="description" content="">
	<meta name="keywords" content="UrlImg">

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<style type="text/css">
	.input-group{
		width: 600px;
		/*margin: 5px;*/
		margin-top: 0px;
	}
	#imgview{
		margin: 0 auto;
	}
	.sel-filter{
		/*display:block;*/
	}
</style>
</head>
<body>
	<table style="width:400px; margin:5px auto;">
		<tr>
			<td colspan="2">
				<div class="input-group">
					<span class="input-group-addon">图片地址</span>
					<input id="imgurl" type="text" class="form-control" placeholder="图片地址" value="http://sin-imgs.qiniudn.com/demo.jpg"></div>
			</td>
		</tr>
		<tr>
			<td >
				<div class="input-group" style="width:300px;">
					<span class="input-group-addon">图片高度</span>
					<input id="imgh" type="number" class="form-control" placeholder="图片高度"  value="0"></div>
			</td>
			<td>
				<div class="input-group" style="width:300px;">
					<span class="input-group-addon">图片宽度</span>
					<input id="imgw" type="number" class="form-control" placeholder="图片宽度"  value="0"></div>
			</td>
		</tr>
		<tr>
			<td >
				<div class="input-group" style="width:300px;">
					<span class="input-group-addon">图片水印</span>
					<input id="sign" type="text" class="form-control" placeholder="图片水印" value="http://sin-imgs.qiniudn.com/demo.jpg"></div>
			</td>
			<td>
				<div class="input-group" style="width:300px;">
					<span class="input-group-addon">字体大小</span>
					<input id="signsize" type="number" class="form-control" placeholder="字体大小"  value="20"></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="input-group">
					<span class="input-group-addon">滤镜效果</span>
					<div class="form-control" style="height: inherit;">
						<div id="filters" style="display: block;"></div>
						<button id="btn_addfilter" type="button" class="btn btn-default btn-sm" style="margin:4px 0;">
							<span class="glyphicon glyphicon-plus-sign"></span>
							添加滤镜
						</button>
					</div>
					<!-- <input id="sign" type="text" class="form-control" placeholder="图片水印" value="TT">--></div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div class="input-group">
					<span class="input-group-addon">引用地址</span>
					<input id="refurl" type="text" class="form-control" value="" readonly="readonly" style="cursor: text;"></div>
			</td>
		</tr>
	</table>
	<center >
		<span id="infotips"></span><br/>
		<img style="border: 1px solid; margin-top:5px;" src="" id="imgview" onload="imgload" onerror="imgerror">
		<br />
		<span>
			©2015 Sin, sintrb@gmail.com,  view on
			<a href="https://github.com/sintrb/urlimg">GitHub</a>
		</span>
	</center>
</body>
	<script type="text/javascript">
	var filters = null;
	function update () {
		var path = window.location.href.substr(0, window.location.href.indexOf("/", 10)+1);
		var fts ='';
		$.each($(".sel-filter"), function(index, sel) {
			if($(sel).val().length>0){
				 if (fts!="")
				 	fts = fts + ',';
				 fts = fts + $(sel).val();
			}
		});

		var url = path + "?url="+encodeURIComponent($("#imgurl").val())+
						"&width="+$("#imgw").val()+
						"&height="+$("#imgh").val()+
						"&sign="+$("#sign").val()+
						"&signsize="+$("#signsize").val()+
						"&filters="+fts;
		$("#refurl").val(url);
		if($("#imgview").attr("src") != url){
			$("#imgview").attr("src", url);
			$("#infotips").html("正在加载图片...");
		}
	}
	function keydown(e) {
		if(e.keyCode == 13){
			update();
		}
	}
	$(function () {
		$("#imgurl").keydown(keydown);
		$("#imgw").keydown(keydown);
		$("#imgh").keydown(keydown);
		$("#sign").keydown(keydown);
		$("#signsize").keydown(keydown);
		update();


		$("#btn_addfilter").click(function(event) {
			var s = '<option value="">--不使用---</option>';
			$.each(filters, function(index, val) {
				var l = '<option value="_value">_text</option>'.replace('_value', val[0]).replace('_text', val[1]);
				s = s + l;
			});
			s = s + '<option value="-del-">--删除--</option>';
			var h = '<select class="sel-filter">_options</select>'.replace('_options', s);
			h = $(h);
			h.change(function(event) {
				if($(this).val()=='-del-')
					$(this).remove();
			});
			$("#filters").append(h);
		});


		$.ajax({
			url: '/filters',
			dataType: 'JSON',
		})
		.done(function(r) {
			filters = r.items;
		})
		.fail(function() {
			alert("加载滤镜选项失败");
		});
		document.getElementById('imgview').onload  = function (){
			console.log('onload');	
			$("#infotips").html("");
		};
		document.getElementById('imgview').onerror  = function (){
			console.log('onerror');
			$("#infotips").html("加载图片失败!!!");
		};
		setInterval(update, 2000);
	});
</script>
</html>